body {
  background:  linear-gradient(90deg, blue, purple);
}
.header{
     width: 400px;
    position:relative;
    left:550px;
}
.center-box{
    background: rgb(220, 220, 220);
    border: 5px solid ;
    border-radius: 8px;
    position:relative;
    left:590px;
    top: 15px;
    opacity: 0.4;
    text-align: center;
    color: white; 
    width: 320px;
}